

.App {
  text-align: center;
  background-color: aliceblue;
}

.FormField__Button {
  background-color: cornflowerblue;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  font-style: italic;
}

.twitter{
  background-color: white;
  text-align: start;
}
